AvaloniaUI/AvaloniaUITest/TestFiles/Aregtech.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2024 (x64) (http://www.altova.com) by Mark Horowitz (Aregtech) -->
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com)
Modified by MH to get .siml files to validate without errors.
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="ServiceInterface">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Overview">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Description" type="xs:string" minOccurs="0"/>
							<xs:element name="DeprecateHint" type="xs:string" minOccurs="0"/>
						</xs:sequence>
						<xs:attribute name="ID" type="xs:string" use="required"/>
						<xs:attribute name="Name" type="xs:string" use="required"/>
						<xs:attribute name="Version" type="xs:string" use="required"/>
						<xs:attribute name="isRemote" type="xs:boolean" use="required"/>
						<xs:attribute name="isDeprecated" type="xs:boolean" use="optional"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="DataTypeList">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DataType" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Description" type="xs:string" minOccurs="0"/>
										<xs:element name="Container" type="xs:string" minOccurs="0"/>
										<xs:element name="BaseTypeValue" type="xs:string" minOccurs="0"/>
										<xs:element name="BaseTypeKey" type="xs:string" minOccurs="0"/>
										<xs:element name="Namespace" type="xs:string" minOccurs="0"/>
										<xs:element name="Location" type="xs:string" minOccurs="0"/>
										<xs:element name="DeprecateHint" type="xs:string" minOccurs="0"/>
										<xs:element name="FieldList" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="EnumEntry" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Value" type="xs:string"/>
																<xs:element name="DeprecateHint" type="xs:string" minOccurs="0"/>
															</xs:sequence>
															<xs:attribute name="ID" type="xs:string" use="required"/>
															<xs:attribute name="Name" type="xs:string" use="required"/>
															<xs:attribute name="isDeprecated" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="Field" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Value">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:int">
																				<xs:attribute name="IsDefault" type="xs:boolean" use="required"/>
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Description" type="xs:string" minOccurs="0"/>
																<xs:element name="DeprecateHint" type="xs:string" minOccurs="0"/>
															</xs:sequence>
															<xs:attribute name="DataType" type="xs:string" use="required"/>
															<xs:attribute name="ID" type="xs:string" use="required"/>
															<xs:attribute name="Name" type="xs:string" use="required"/>
															<xs:attribute name="isDeprecated" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="ID" type="xs:string" use="required"/>
									<xs:attribute name="Name" type="xs:string" use="required"/>
									<xs:attribute name="Type" type="xs:string" use="required"/>
									<xs:attribute name="Values" type="xs:string" use="optional"/>
									<xs:attribute name="isDeprecated" type="xs:boolean" use="optional"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="AttributeList">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Attribute" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Description" type="xs:string" minOccurs="0"/>
										<xs:element name="DeprecateHint" type="xs:string" minOccurs="0"/>
									</xs:sequence>
									<xs:attribute name="DataType" type="xs:string" use="required"/>
									<xs:attribute name="ID" type="xs:string" use="required"/>
									<xs:attribute name="Name" type="xs:string" use="required"/>
									<xs:attribute name="Notify" type="xs:string" use="required"/>
									<xs:attribute name="isDeprecated" type="xs:boolean" use="optional"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="MethodList">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Method" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Description" type="xs:string" minOccurs="0"/>
										<xs:element name="DeprecateHint" type="xs:string" minOccurs="0"/>
										<xs:element name="ParamList" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Parameter" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence minOccurs="0">
																<xs:element name="Value" minOccurs="0">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute name="IsDefault" type="xs:boolean" use="required"/>
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Description" type="xs:string" minOccurs="0"/>
																<xs:element name="DeprecateHint" type="xs:string" minOccurs="0"/>
															</xs:sequence>
															<xs:attribute name="DataType" type="xs:string" use="required"/>
															<xs:attribute name="ID" type="xs:string" use="required"/>
															<xs:attribute name="Name" type="xs:string" use="required"/>
															<xs:attribute name="isDeprecated" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="ID" type="xs:string" use="required"/>
									<xs:attribute name="MethodType" type="xs:string" use="required"/>
									<xs:attribute name="Name" type="xs:string" use="required"/>
									<xs:attribute name="Response" type="xs:string" use="optional"/>
									<xs:attribute name="isDeprecated" type="xs:boolean" use="optional"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ConstantList">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Constant" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Value" type="xs:string"/>
										<xs:element name="Description" type="xs:string" minOccurs="0"/>
										<xs:element name="DeprecateHint" type="xs:string" minOccurs="0"/>
									</xs:sequence>
									<xs:attribute name="DataType" type="xs:string" use="required"/>
									<xs:attribute name="ID" type="xs:string" use="required"/>
									<xs:attribute name="Name" type="xs:string" use="required"/>
									<xs:attribute name="isDeprecated" type="xs:boolean" use="optional"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="IncludeList">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Location" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Description" type="xs:string" minOccurs="0"/>
										<xs:element name="DeprecateHint" type="xs:string" minOccurs="0"/>
									</xs:sequence>
									<xs:attribute name="ID" type="xs:string" use="required"/>
									<xs:attribute name="Name" type="xs:string" use="required"/>
									<xs:attribute name="isDeprecated" type="xs:boolean" use="optional"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="FormatVersion" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>